@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Eliminar las flechas en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input, input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
    height: 40px;
    box-sizing: border-box;
    outline: none;
}

button {
    height: 40px;
    box-sizing: border-box;

}